.banner {
  height: calc(100vh - 95px);
  padding-bottom: 60px;
  margin: auto;
  display: flex;
  align-items: center;
  .banner_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;
  }
  .banner_content {
    display: flex;
    flex-direction: column;
    gap: 60px;
    .large_text {
      margin-top: 20px;
    }
  }
}

.blur_green_section {
  padding: 80px 4.5rem;
  background-image: url("/png/section_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.black_green_section {
  padding: 40px 4.5rem;
  background-image: url("/png/dark_section.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.dark_section {
  padding: 80px 4.5rem;
  background: $background_color;
}
.white_section {
  padding: 80px 4.5rem;
  background: $white_color;
  color: $black_color;
}
.services {
  margin-top: 80px;
  gap: 20px;
  // flex-wrap: wrap;
  .service_card {
    position: relative;
    // min-width: 310px;
    width: 315px;
    background: $white_color;
    border: 2px solid $green_color;
    border-radius: 20px;
    color: $black_color;
    padding: 48px 25px 18px 24px;
    text-align: left;
    .service_img {
      background: $white_color;
      border: 2px solid $green_color;
      border-radius: 50%;
      width: 84px;
      height: 84px;
      position: absolute;
      top: 0;
      top: -20%;
      left: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
