html {
  font-size: 16px;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  background: $background_color;
  color: $white_color;
  overflow: auto;
  min-height: 100vh;
}

.ant-layout {
  background: $background_color;
  background-image: url("/png/banner_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  padding: 0 4.5rem;
}
.button {
  padding: 17.8906px 35.7656px 17.7344px 34.0938px;
  max-width: 243.86px;
  min-height: 47px;
  height: 58.62px;
  border-radius: 2px;
  color: $black_color;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  border: none;
  outline: none;
}

.light_btn {
  background: $white_color;
  border-radius: 4px;
  padding: 12px 24px;
  height: 47px;
}
.light_btn:hover,
.light_btn:active,
.light_btn:focus {
  background: $green_color;
  color: $black_color !important;
}
.green_btn {
  background: $green_color;
  font-size: 0.975rem;
}
.green_btn:hover,
.green_btn:active,
.green_btn:focus {
  background: $white_color;
  color: $black_color !important;
}
.shadow_btn {
  box-shadow: inset 8.19265px 8.19265px 20.4816px rgba(40, 118, 94, 0.4);
  border-radius: 5.33333px;
}
p,
.body_text {
  font-size: 1rem;
  margin-bottom: 0;
}

h1 {
  font-size: 2.813rem;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 0;
}
h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: -0.02em;
  margin-bottom: 0;
}
h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 0;
}
h4 {
  line-height: 25px;
  font-weight: 400;
}
.heading {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 0;
}
.small_heading {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 0;
}
.subhead {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 0;
}
.large_text {
  font-size: 1.188rem;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 0;
}
.medium_text {
  font-size: 0.875rem;
  font-weight: 400;
}
.small_text {
  font-size: 0.75rem;
  font-weight: 400;
}

.bold {
  font-weight: 600;
}
.full_bold {
  font-weight: 800;
}

.flex {
  display: flex;
}
.flex_start {
  justify-content: flex-start;
}
.align-top {
  align-items: flex-start;
}
.flex_center {
  align-items: center;
  justify-content: center;
}
.flex_between {
  justify-content: space-between;
}
.flex_column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}
.align-items-center {
  align-items: center;
}
.text-align-right {
  text-align: right;
}
.blue_text {
  color: $blue_color;
}
.green_text {
  color: $green_color;
}
.underline {
  text-decoration: underline;
}

.gap-5 {
  gap: 5px;
}
.gap-10 {
  gap: 10px;
}
.gap-20 {
  gap: 20px;
}
.gap-30 {
  gap: 30px;
}

.input_box {
  background: $white_color;
  border: 1px solid $light_bg;
  border-radius: 4px;
  color: $light_text;
  padding: 8px 15px;
  &:hover,
  &:active,
  &:focus {
    border: 1px solid $green_color;
    outline: none;
    box-shadow: none;
  }
  &::placeholder {
    color: $light_text;
  }
}

.textarea {
  resize: none;
}

.letter_spacing {
  letter-spacing: 2.8px;
}
.text-align-center {
  text-align: center;
}
.side_top_spacing {
  padding: 40px 40px 20px;
}
.top_spacing {
  padding-top: 60px;
}
.partner .heading {
  padding: 0 40px 30px;
}
.partner .subhead {
  font-size: 1.2rem;
  line-height: 33px;
  padding: 0 10px;
}
.image_layout {
  padding: 50px 0;
}
.image_layout img {
  width: 100%;
}
.w-100 {
  width: 100%;
}
.text-left {
  text-align: left;
}
.image_layout .text-left {
  padding-top: 30px;
}
.image_layout .text-left p {
  line-height: 28px;
}
.white_bg {
  background: $white_color;
  color: $black_color;
  padding: 40px 30px;
}
.white_bg .subhead {
  padding-top: 10px;
  font-weight: bold;
}
.avatar img {
  padding-bottom: 15px;
}
.avatars {
  margin-top: 40px;
  flex-wrap: wrap;
}
.flex_wrap {
  flex-wrap: wrap;
}
ul {
  padding-top: 5px;
  padding-left: 0;
  list-style: none;
  li {
    padding: 8px 0;
  }
}