$white_color: #ffffff;
$black_color: #000000;
$green_color: #82ffb8;
$background_color: #202020;
$dark_green: #1d262d;
$blue_color: #3d66b3;
$yellow_color: #fbbc04;
$dark_black: #2b2d31;
$dark_grey: #35353b;
